<header class="header index-two-header">
<script>
$(function() {
   $('body').scrollTop(0);
});
</script>
<div ng-include="'templates/menu.html'"></div>
      </header>
<div class="rq-page-content">
<div class="inner-page-banner" style="background: url('img/inner-banner/seabass-creatives-56935.jpg') top center no-repeat; background-size: cover;">
          <div class="rq-overlay"></div>
          <div class="container">
            <div class="rq-title-container bredcrumb-title">
              <h2 class="rq-title">About Us</h2>
              <ol class="breadcrumb rq-subtitle">
                <li><a href="#">Home</a></li>
                <li class="active">About Us</li>
              </ol>
            </div>
          </div>
        </div> <!-- /. inner pagebanner -->
        <div class="rq-content-block">
          <div class="rq-about-us-content-wrapper">
            <div class="container">
              <div class="about-us-content-single">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">OUR ROOTS<span class="dot">.</span></h2>
                  </div>
                  <div class="col-md-8">
                    <div class="about-us-text">
                      <p><strong>Everybody has a story to tell we do too!!!</strong></p>
                      <p>
                      GETSETWHEELS.COM is the first chapter/product from ALPHANUMERIC TECHNOLOGY SOLUTIONS(ANTS) stable.
                      GETSETWHEELS is an online aggregator for rental vehicles currently providing services in
                      Mumbai and Pune. It provides a platform to the customers to rent vehicles of their choice
                      and make hassle free online payment.
                      </p>
                      <p>
                      GETSETWHEELS connects customers to their vehicles seamlessly at most affordable daily
                      rates and Rs.0 security deposit. GETSETWHEELS provides both Bikes and Cars rental services and is your one stop shop for 
                      rental wheels.
                     </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">OUR STRENGTHS<span class="dot">.</span></h2>
                  </div>
                  <div class="col-md-8">
                    <div class="about-us-text">
                      <p><strong>Seamless Connectivity</strong></p>
                      <p>
                      GSW mission is to provide a seamless connectivity to our customers to the vehicles of their
		      choice either a two or four-wheeler with a hassle free and trusted online payment system. 
		      To enhance the customers overall trip experience and ensure the comfort of each user.
                      </p>
                      <p>
                      GSW provides the customer with a wide variety of vehicles choices to make, decreasing the customer’s difficulty in search of right vehicles.
                     </p>
                     <p>
                     GSW ensures that journey of our customers is memorable one and we are happy to play our small role in it….
                     </p>
                    </div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">OUR GROWTH AND VISION<span class="dot">.</span></h2>
                  </div>
                  <div class="col-md-8">
                    <div class="about-us-text">
                      <p><strong>To provide every Indian with their wheels</strong></p>
                      <p>
                      GSW vision is to solve the problem of vehicle renting in India and soon plans to expand its
		      operations in other metros as well as other Tier-2 and Tier-3 cities.
                      </p>
                      <p>
                     Our aim is to provide hassle free renting experiences to our customers either for daily commuting to offices or planning for a big road trip with your 
                     friends and family.
                     </p>
                     <p>
                    GSW does not charge surcharges or a complicated tariff structure with hidden costs, our rates are strictly for per day basis and are most affordable across 
                    the board, ditch the cabs and for people who like to drive rent your wheels.
                     </p>
                     <p><strong>GSW is here to provide you with your wings <i>#getyourwheels<i>……</strong></p>
                    </div>
                  </div>
                </div>
              </div> <!-- end of brand -->
              <div class="about-us-content-single"> <!-- start of contact info -->
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">Contact Us<span class="dot">.</span></h2>
                  </div>
                  <div class="col-md-8">
                    <div class="contact-single">
                      <i class="icon_pin"></i>
                      <p>Stella, Vasai(west), Maharashtra-401202</p>
                    </div>
                    <div class="contact-single">
                      <i class="icon_mail_alt"></i>
                      <p>help@getsetwheels.com</p>
                    </div>
                    <div class="contact-single">
                      <i class="icon_phone"></i>
                      <p>+91 072619 37108</p>
                    </div>
                    <div class="opening-hour">
                      <p> HOUR WORK:  <span> MONDAY - SUNDAY  /  08AM - 08PM</span></p>
                    </div>
                  </div>
                </div>
              </div> <!-- end of contact info -->
              <div class="about-us-content-single"> <!-- start of our team -->
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="brand-title">Our Team<span class="dot">.</span></h2>
                  </div>
                  <div class="col-md-8">
                    <div class="rq-team-members">
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <div class="member-single"
                               style="background: url('img/about-us/apurv.jpg') top center no-repeat; background-size: cover;">
                            <div class="member-info">
                              <a href="#">Apurv Mishra</a>
                              <p>Co-founder</p>
                              <ul class="list-unstyled social-list">
                                <li><a href="https://twitter.com/apurvmishra2"><i class="social_twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/apurv.mishra2"><i class="social_facebook"></i></a></li>
                                <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="member-single"
                               style="background: url('img/about-us/jj.jpg') top center no-repeat; background-size: cover;">
                            <div class="member-info">
                              <a href="#">Jayon Jose</a>
                              <p>Co-founder</p>
                              <ul class="list-unstyled social-list">
                                <li><a href="https://twitter.com/"><i class="social_twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                                <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="member-single"
                               style="background: url('img/about-us/abhijeet.jpg') top center no-repeat; background-size: cover;">
                            <div class="member-info">
                              <a href="#">Abhijeet Gureniya</a>
                              <p>Co-founder</p>
                              <ul class="list-unstyled social-list">
                                <li><a href="https://twitter.com/abhigureniya"><i class="social_twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                                <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="member-single"
                               style="background: url('img/about-us/abhi.jpg') top center no-repeat; background-size: cover;">
                            <div class="member-info">
                              <a href="#">Abhishek Bhosle</a>
                              <p>Co-founder</p>
                              <ul class="list-unstyled social-list">
                                <li><a href="https://twitter.com/abhibhos"><i class="social_twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                                <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="member-single"
                               style="background: url('img/about-us/prasob.jpg') top center no-repeat; background-size: cover;">
                            <div class="member-info">
                              <a href="#">Prasob Nair</a>
                              <p>Co-founder</p>
                              <ul class="list-unstyled social-list">
                                <li><a href="https://twitter.com/PrasobhNair93"><i class="social_twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/prasobh.nair.7"><i class="social_facebook"></i></a></li>
                                <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="member-single" >
                            <img src="img/about-us/about-us-join-team.png" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end of our team -->
            </div>
          </div>
        </div>
</div>