<header class="header index-two-header">
<script>
$(function() {
   $('body').scrollTop(0);
});
</script>
<div ng-include="'templates/menu.html'"></div>
      </header>
<div class="rq-page-content">
        <div class="blog-post-single-wrapper">
          <div class="signle-post-feature-img">
            <img src="img/blog-listing/Black_and_White_Harley_Davidson_Bike_on_Road_HD_Wallpapers.jpg" alt="">
          </div>
          <div class="container">
            <div class="rq-content-block">
              <div class="rq-title-container bredcrumb-title text-center">
                <h2 class="rq-title">Blog Single</h2>
                <ol class="breadcrumb rq-subtitle">
                  <li><a href="#">Home</a></li>
                  <li class="active">Blog Single</li>
                </ol>
              </div>
              <div class="rq-single-post-header">
                <div class="author-info-content">
                  <div class="author-img"
                       style="background: url('img/about-us/apurv.jpg') top center no-repeat; background-size: cover">
                  </div>
                  <span class="author-name"><a href="#">Apurv</a></span>
                  <span class="author-role">Administrator</span>
                </div>
                <div class="post-cat-tag">
                  <div class="post-cat-tag-single">
                    <span class="cat-title">Date</span>
                    <span class="cat-details"><a href="#">May, 28th, 2017</a></span>
                  </div>
                  <div class="post-cat-tag-single">
                    <span class="cat-title">Category</span>
                    <span class="cat-details"><a href="#">Business</a></span>
                  </div>
                  <div class="post-cat-tag-single">
                    <span class="cat-title">Tags</span>
                    <span class="cat-details"><a href="#">RENTAL</a></span>
                  </div>
                </div>
              </div>
              <div class="post-content">
                <p><strong>Renting Vehicle in Mumbai</strong>
                </p>
                <p>We almost spent 1/3rd of our life travelling according to a study in US. So such a huge amount of our time is spent in travelling from point A to point B. This is when we commute to our work in the morning or to travel to some holiday destination along with our friends and family, everything involves travelling in some vehicle. 

                </p>
                <p>As the average Indian becomes more aware, demand for better services at best prices is increasing. Even as people buy more cars, the trend of renting self-drive cars is rising. This service—which gives one the choice to rent a car across models and types, and use it according to her own convenience and budget—is especially popular among young professionals and entrepreneurs in cities such as Bengaluru, Mumbai, Delhi and Pune.
                </p>
                <p>The concept of self-drive cars has been popular in the US and European countries since long but made a debut in India. This is usually used by those who want to go on short trips in a group or alone, or to use within a city for business or personal purposes. The attraction lies in being able to drive high-end cars at an affordable price, and avoiding the hassles of dealing with a driver and pay for extra charges.

                </p>
                <p>
                Why hire a car and drive it yourself if you can simply hire a chauffeur driven car? Because not only does it give you flexibility but also a cost advantage.
Taxi services provided by participants such as Ola Cabs, Uber and Meru, among others, allow you to choose a category of cars in a particular price band and not a specific model. Charges are as per the kilometres. For example, if you choose Ola’s Mini service that offers small hatchbacks, such as a Tata Indica, to travel 20 km in Delhi, it will cost around Rs.260 (not including taxes, peak hour charges, convenience fee and toll). With Uber Go, the cost estimate is Rs.195-248. Instead, if you rent a GETSETWHEELS self-drive car of the same category, it will cost you Rs.100 per hour. If you know the city well and are an experienced driver, a self-drive option is cheaper.
                </p>
                <p>
                If you are comfortable driving yourself and want a taste of luxury at a pocket-friendly price, self-drive car rentals are the answer.

                </p>
              </div>

              <div class="post-share">
                <span>Share:</span>
                <ul>
                  <li><a href="http://twitter.com/share?text=%23getyourwheels&url=http://www.getsetwheels.com/blog" ><i class="social_twitter"></i></a></li>
                  <li><a href="http://www.facebook.com/sharer.php?u=http://www.getsetwheels.com/blog"><i class="social_facebook"></i></a></li>
                  <!--<li><a href="#"><i class="social_googleplus"></i></a></li>-->
                  <li><a href="http://www.instagram.com"><i class="social_instagram"></i></a></li>
                  <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                </ul>
              </div>

              <div class="related-posts">
                <h2 class="single-sub-title">related posts</h2>
                <div class="rq-blog-grid-wrapper">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="#/blogpost">
                        <div class="rq-blog-grid-single"
                             style="background: url('img/post-single/bul.jpg') top center no-repeat;
                             background-size: cover;">
                          <div class="rq-overlay"></div>
                          <span class="company-name">Joys Of Travelling</span>
                          <div class="rq-listing-meta">
                            <span class="date">June, 1st, 2017</span>
                            <span class="v-line">|</span>
                            <span class="author-name"><b>by</b>Abhishek</span>
                            <span class="v-line">|</span>
                            <span class="category"><b>in</b>Travel</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <!--<div class="col-md-4">
                      <a href="#">
                        <div class="rq-blog-grid-single"
                             style="background: url('img/post-single/related-post2.jpg') top center no-repeat;
                             background-size: cover;">
                          <div class="rq-overlay"></div>
                          <span class="company-name">5 tips to rent a car for your trip so easy and fastly</span>
                          <div class="rq-listing-meta">
                            <span class="date">15th,Dec,2016</span>
                            <span class="v-line">|</span>
                            <span class="author-name"><b>by</b>Admin</span>
                            <span class="v-line">|</span>
                            <span class="category"><b>in</b>Tips &amp; Tricks</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#">
                        <div class="rq-blog-grid-single"
                             style="background: url('img/post-single/related-post3.jpg') top center no-repeat;
                             background-size: cover;">
                          <div class="rq-overlay"></div>
                          <span class="company-name">discover the awesome land that you should come</span>
                          <div class="rq-listing-meta">
                            <span class="date">15th,Dec,2016</span>
                            <span class="v-line">|</span>
                            <span class="author-name"><b>by</b>Admin</span>
                            <span class="v-line">|</span>
                            <span class="category"><b>in</b>Life Style</span>
                          </div>
                        </div>
                      </a>
                    </div>-->
                  </div>
                </div>
              </div>
              <!--<div id="comments" class="post-comment-section">
                <h2 class="single-sub-title">02 Comments</h2>
                <div class="comment-wrapper">
                  <ol class="comment-list">
                    <li class="comment">
                      <div class="comment-author-img">
                        <img src="img/post-single/comment-img1.jpg" alt="">
                      </div>
                      <div class="comment-details">
                        <span class="author-name"><a class="name" href="#">bruno mar - </a><a href="#" class="reply">Reply</a></span>
                        <span class="comment-text">Comment example here. Nulla risus lacus, vehicula id mi vitae,
                          auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa.
                        </span>
                        <span class="date">Jul 17,2015 at 15 hours ago</span>
                      </div>
                    </li>
                    <li class="comment">
                      <div class="comment-author-img">
                        <img src="img/post-single/comment-img2.jpg" alt="">
                      </div>
                      <div class="comment-details">
                        <span class="author-name"><a class="name" href="#">kelly alexandra - </a><a href="#" class="reply">Reply</a></span>
                        <span class="comment-text">Comment example here. Nulla risus lacus, vehicula id mi vitae,
                          auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa.
                        </span>
                        <span class="date">Jul 17,2015 at 15 hours ago</span>
                      </div>
                    </li>
                  </ol>
                </div>
                <div id="respond" class="comment-respond">
                  <h2 class="single-sub-title">Leave a comment</h2>
                  <form id="commentform" class="commentform" action="#">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text" class="comment-input" placeholder="Enter your name...">
                      </div>
                      <div class="col-md-4">
                        <input type="email" class="comment-input" placeholder="Enter your email...">
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="comment-input" placeholder="Subject(optional)">
                      </div>
                      <div class="col-md-12">
                        <textarea class="comment-input"  placeholder="Here goes your comment"></textarea>
                      </div>
                      <div class="col-md-12">
                        <button class="continue-btn rq-btn rq-btn-normal">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>-->
          </div> <!-- /.content-block -->
        </div>
      </div>