<header class="header index-two-header">
<script>
$(function() {
   $('body').scrollTop(0);
});
</script>
<div ng-include="'templates/menu.html'"></div>
      </header>
<div class="rq-page-content">
        <div class="blog-post-single-wrapper">
          <div class="signle-post-feature-img">
            <img src="img/blog-listing/Black_and_White_Harley_Davidson_Bike_on_Road_HD_Wallpapers.jpg" alt="">
          </div>
          <div class="container">
            <div class="rq-content-block">
              <div class="rq-title-container bredcrumb-title text-center">
                <h2 class="rq-title">Blog Single</h2>
                <ol class="breadcrumb rq-subtitle">
                  <li><a href="#">Home</a></li>
                  <li class="active">Blog Single</li>
                </ol>
              </div>
              <div class="rq-single-post-header">
                <div class="author-info-content">
                  <div class="author-img"
                       style="background: url('img/about-us/abhi.jpg') top center no-repeat; background-size: cover">
                  </div>
                  <span class="author-name"><a href="#">Abhishek</a></span>
                  <span class="author-role">Administrator</span>
                </div>
                <div class="post-cat-tag">
                  <div class="post-cat-tag-single">
                    <span class="cat-title">Date</span>
                    <span class="cat-details"><a href="#">June, 1st, 2017</a></span>
                  </div>
                  <div class="post-cat-tag-single">
                    <span class="cat-title">Category</span>
                    <span class="cat-details"><a href="#">Business</a></span>
                  </div>
                  <div class="post-cat-tag-single">
                    <span class="cat-title">Tags</span>
                    <span class="cat-details"><a href="#">Travel</a></span>
                  </div>
                </div>
              </div>
              <div class="post-content">
                <p><strong>Joys of Travelling</strong>
                </p>

                <p>
                 “The world is a book and those who do not travel read only one page” is a famous quote by Augustine of Hippo. Wherever you go becomes a part of you somehow.
                </p>
                
                <p>
                Waking up to the annoying morning alarm, breakfast in haste, sweating in the traffic jam, breathing all dust, tackling with boss’ mood swings and then coming home to boredom and family’s murmurings. What is the pleasure in this? Today man is living a life so sad and dull to attain monetary satisfaction.

                </p>
                <p>
                The treasure away from all these dry as dust things lies beyond the usual land of routine. Travelling: the treasure, the treat, the therapy.
One of the principal values of travelling is that, it breaks the monotony of life and work. Life, for most people, is a mad rush from one place to another, from one activity to another, trying to gather as much as possible.

                </p>
                <p>
                In this pro cess, people tend to forget, who they are and what they are. There is no time to ponder and wonder. They tend to forget the values of life. Travelling is a time when people relax, reflect and ponder. Most people, after a pleasant travel, re turn home with a fresh outlook, new zeal and a better deter mination.
Another significant value of travelling is that it has the potential to improve one’s health. A visit to places like Nainital, Darjeeling, Shillong, Panchmari, Goa, Kovalam, Ooty, etc. can have tremendous effect on our physical and mental health.

                </p>
                <p>
                The beauty and cold of the hills, the charm of the valleys, the chirping of birds, the song of the rivers, the howling of animals, pleasant air, quiet places, etc., can heal many of our mental and physical problems. In the Indian context, travelling and visiting places have another important value that of understanding other’s traditions and cultures.
A visit to various parts of India will make us realize that India is a mosaic of cultures, races and creed and that diversity is the chief hallmark of our land. In this context, travelling can help national integration and unity to a great extent.

                </p>
                <p>
                For some travelling  is a dream fulfilled once annually, some have mastered the art of travalling and taken up it as a profession. Either way, the magic wandering, does to one is hard to be crafted in words. Another reason why travelling is the necessity of life is that it gives you tales to share and to blabber about all the time. Flaunting the majestic adventure now and then and reliving it each time. Experiencing new cultures, getting familiar with different tradition across the globe, learning new languages and most importantly learning humanity. Is it any less of a treat?
Travelling adds a spark in romance.  I wonder why newly weds go on a honeymoon or prefer travelling to Solitude places after a few months of a brawl and dreary times.<br/>
An unsettled life so settled! That is what wandering is all about.

                </p>
              </div>

              <div class="post-share">
                <span>Share:</span>
                <ul>
                  <li><a href="http://twitter.com/share?text=%23getyourwheels&url=http://www.getsetwheels.com/blog" ><i class="social_twitter"></i></a></li>
                  <li><a href="http://www.facebook.com/sharer.php?u=http://www.getsetwheels.com/blog"><i class="social_facebook"></i></a></li>
                  <!--<li><a href="#"><i class="social_googleplus"></i></a></li>-->
                  <li><a href="http://www.instagram.com"><i class="social_instagram"></i></a></li>
                  <!--<li><a href="#"><i class="social_dribbble"></i></a></li>-->
                </ul>
              </div>

              <div class="related-posts">
                <h2 class="single-sub-title">related posts</h2>
                <div class="rq-blog-grid-wrapper">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="#/blog">
                        <div class="rq-blog-grid-single"
                             style="background: url('img/post-single/x1.jpg') top center no-repeat;
                             background-size: cover;">
                          <div class="rq-overlay"></div>
                          <span class="company-name">Renting Vehicle in Mumbai</span>
                          <div class="rq-listing-meta">
                            <span class="date">May, 28th, 2017</span>
                            <span class="v-line">|</span>
                            <span class="author-name"><b>by</b>Apurv</span>
                            <span class="v-line">|</span>
                            <span class="category"><b>in</b>Rental</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <!--<div class="col-md-4">
                      <a href="#">
                        <div class="rq-blog-grid-single"
                             style="background: url('img/post-single/related-post2.jpg') top center no-repeat;
                             background-size: cover;">
                          <div class="rq-overlay"></div>
                          <span class="company-name">5 tips to rent a car for your trip so easy and fastly</span>
                          <div class="rq-listing-meta">
                            <span class="date">15th,Dec,2016</span>
                            <span class="v-line">|</span>
                            <span class="author-name"><b>by</b>Admin</span>
                            <span class="v-line">|</span>
                            <span class="category"><b>in</b>Tips &amp; Tricks</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#">
                        <div class="rq-blog-grid-single"
                             style="background: url('img/post-single/related-post3.jpg') top center no-repeat;
                             background-size: cover;">
                          <div class="rq-overlay"></div>
                          <span class="company-name">discover the awesome land that you should come</span>
                          <div class="rq-listing-meta">
                            <span class="date">15th,Dec,2016</span>
                            <span class="v-line">|</span>
                            <span class="author-name"><b>by</b>Admin</span>
                            <span class="v-line">|</span>
                            <span class="category"><b>in</b>Life Style</span>
                          </div>
                        </div>
                      </a>
                    </div>-->
                  </div>
                </div>
              </div>
              <!--<div id="comments" class="post-comment-section">
                <h2 class="single-sub-title">02 Comments</h2>
                <div class="comment-wrapper">
                  <ol class="comment-list">
                    <li class="comment">
                      <div class="comment-author-img">
                        <img src="img/post-single/comment-img1.jpg" alt="">
                      </div>
                      <div class="comment-details">
                        <span class="author-name"><a class="name" href="#">bruno mar - </a><a href="#" class="reply">Reply</a></span>
                        <span class="comment-text">Comment example here. Nulla risus lacus, vehicula id mi vitae,
                          auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa.
                        </span>
                        <span class="date">Jul 17,2015 at 15 hours ago</span>
                      </div>
                    </li>
                    <li class="comment">
                      <div class="comment-author-img">
                        <img src="img/post-single/comment-img2.jpg" alt="">
                      </div>
                      <div class="comment-details">
                        <span class="author-name"><a class="name" href="#">kelly alexandra - </a><a href="#" class="reply">Reply</a></span>
                        <span class="comment-text">Comment example here. Nulla risus lacus, vehicula id mi vitae,
                          auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa.
                        </span>
                        <span class="date">Jul 17,2015 at 15 hours ago</span>
                      </div>
                    </li>
                  </ol>
                </div>
                <div id="respond" class="comment-respond">
                  <h2 class="single-sub-title">Leave a comment</h2>
                  <form id="commentform" class="commentform" action="#">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text" class="comment-input" placeholder="Enter your name...">
                      </div>
                      <div class="col-md-4">
                        <input type="email" class="comment-input" placeholder="Enter your email...">
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="comment-input" placeholder="Subject(optional)">
                      </div>
                      <div class="col-md-12">
                        <textarea class="comment-input"  placeholder="Here goes your comment"></textarea>
                      </div>
                      <div class="col-md-12">
                        <button class="continue-btn rq-btn rq-btn-normal">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>-->
          </div> <!-- /.content-block -->
        </div>
      </div>