<header class="header index-two-header">

<div ng-include="'templates/menu.html'"></div>
      </header>
      <div class="rq-page-content">
      <center>
      <center>
<img src="./img/error.png" style="width:14%;height:14%; margin-top:80px;" />
  <table class="table-responsive" style="width:60%;">
    
      <tr><th><h2 align="center">Transaction Failed - <a href="#">Try Again<a></h2></th></tr>
      <tr><th><h4 align="center">Amount Deducted will be refunded within 2 days, if any.</h4></th></tr>
      
   
  </table>
</center>
      </center>
      </div>