<header class="header index-two-header">
<script>
$(function() {
   $('body').scrollTop(0);
});
</script>
<div ng-include="'templates/menu.html'"></div>
      </header>
<div class="rq-page-content">
<!--<div class="inner-page-banner" style="background: url('img/inner-banner/seabass-creatives-56935.jpg') top center no-repeat; background-size: cover;">-->
          <div class="rq-overlay"></div>
          <div class="container">
            <!--<div class="rq-title-container bredcrumb-title">
              <h2 class="rq-title">Terms & Conditions</h2>
              <ol class="breadcrumb rq-subtitle">
                <li><a href="#">Home</a></li>
                <li class="active">About Us</li>
              </ol>
            </div>-->
          </div>
        </div> <!-- /. inner pagebanner -->
        <div class="rq-content-block">
          <div class="rq-FAQ-content-wrapper">
            <div class="container">
              <div class="FAQ-content-single">
                <div class="row">
                  <h1 align="center">Frequently Asked Questions</h1>
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <ul><li><p><font size="3"><strong>How to reserve a bike ?</strong></font></p></li></ul>
                      <p>
                     Select the bike you like from our given list of available bikes and also select the pickup location of your choice(i.e near by location). 
You will be asked to login or sign up. Sign up is easy with few essential details like email address and phone number. 
After that, reconfirm your selected bike, dates and pickup location and you will be taken to the payment gateway.
 Your reservation is confirmed after you make the payment and you will get a message from our website
		      
                      </p>
                    </div>
                  </div>
                </div><!--end of row -->
                 <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <ul><li><p><font size="3"><strong>What are the documents needed to rent a bike?</strong></font></p></li></ul>
                      <p>
                    The following would be the documents that needed to rent a bike Valid Driving License to ride a motor-cycle with gear in India. 
For international visitors, a valid driving license from their home country with International Driving Permit is necessary along with a valid Visa. 
Original to be brought, copy will be retained for record.
Any two of the following</br>

1. Passport</br>
2. Aadhar Card</br>
3. Voter Id card</br>

the documents mentioned above should be submitted to dealer ,it will be given back to you when submit the bike to dealer.

note:-if you submit passport an additional discount will be given in deposit.


		      
                      </p>
                    </div>
                  </div>
                </div><!--end of row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <ul><li><p><font size="3"><strong>Is there any speed limit for the bike?</strong></font></p></li></ul>
                      <p>
                    Yes, for bikes below 350cc 80km/hr is the limit.
for bikes above 350cc 100km/hr is the limit.
if you exceed the speed limit, 
then you will be fined for 500rs.


		      </ul>
                      </p>
                    </div>
                  </div>
                </div><!--end of row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <ul><li><p><font size="3"><strong>Is fuel included in rent?
</strong></font></p></li></ul>
                      <p>
                    
No,fuel is not included in rent.For futher details on this please request users to go through Feul Policy in Terms & Conditions section of website.

		   
                      </p>
                    </div>
                  </div>
                </div><!--end of row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <ul><li><p><font size="3"><strong>What are the cancellation policy?

</strong></font></p></li></ul>
                      <p>

1. 0-24 Hours before start of the trip – The entire amount paid by the customer will be charged as cancellation fee. 
There will be NO REFUND made for such cancellations.<br/>

2. More than 24 hours before start of the trip – 20% of the amount paid by the customer will be reduced as cancellation fee and the remaining 80% 
of the amount will be refunded. The refunded amount will reflect in the customers bank account within 5-7 business days.<br/>


3. If any booking is cancelled by GETSETWHEELS for any reason, a full refund will be initiated</li>


                      </p>
                    </div>
                  </div>
                </div><!--end of row -->
            </div>
          </div>
        </div>
</div>