<div id="FAQ_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h2>FAQ's-Frequently Asked Questions</h2>
					</div>
					<div class="modal-body">
						<div class="container-fluid text-center">
						  <p><em>3 Steps 2 Ride a bike!!!</em></p>
						  <br>
						  <div class="row">
						    <div class="col-sm-4">
						    	<strong>How to Book?</strong>
						      <a href="#question1" data-toggle="collapse">
						     	<span class="glyphicon glyphicon-chevron-down col-sm-4" id="FAQ"></span>
						      </a>
						       <div id="question1" class="collapse">
						        <p>SEARCH BIKES</p>
						      </div>
						    </div>
						    
						    
						  </div>
						</div>						
					</div>
					<div class="modal-footer">.
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>