<header class="header index-two-header">

<div ng-include="'templates/menu.html'"></div>
      </header> <!-- end header -->
      <div class="rq-page-content">
        <div class="rq-content-block"> 
        <center>         
          <div class="rq-registration-content-single small-bottom-margin"> <!-- start of registration portion -->
            <div class="container">
              <div class="rq-login-form no-border">
                <h4>Enter Mobile Number</h4>
                <form class="form-inline" name="myPhone" ng-submit="phoneVerify(phone)" method="post" >
                  <div class="row">
                  <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <input type="number" class="rq-form-control reverse" name="phone" placeholder="Mobile Number" ng-model="phone" required minlength="10" maxlength="10">
                    </div>
                    <div class="col-md-4">
                    <div class="alert alert-danger" ng-show="myPhone.phone.$dirty && myPhone.phone.$invalid">
                <span ng-show="myPhone.phone.$error">Enter valid 10 digit Mobile Number</span>
                </div>
                  </div>
                  <div class="col-md-12">
                    <div class="register-button">
                      <button type="submit" ng-disabled="myPhone.$invalid" class="rq-btn rq-btn-primary border-radius">Send OTP<i class="arrow_right"></i></button>
                    </div>
                  </div>
                  
                  </div> <!-- end of registration section -->
                </form>
              </div>
            </div>
          </div><!--  end of registration form portin -->
          </center>
        </div>
      </div>