<html>
<head>
<script>
$(function() {
   $('body').scrollTop(0);
});
</script>
	<title></title>
</head>
<body>
<header class="header index-two-header"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div ng-include="'templates/menu.html'"></div>
</header>

<div class="rq-page-content"><!--<div class="inner-page-banner" style="background: url('img/inner-banner/seabass-creatives-56935.jpg') top center no-repeat; background-size: cover;">-->
<div class="rq-overlay"></div>

<div class="container"><!--<div class="rq-title-container bredcrumb-title">
              <h2 class="rq-title">Terms & Conditions</h2>
              <ol class="breadcrumb rq-subtitle">
                <li><a href="#">Home</a></li>
                <li class="active">About Us</li>
              </ol>
            </div>--></div>
</div>
<!-- /. inner pagebanner -->

<div class="rq-content-block">
<div class="rq-FAQ-content-wrapper">
<div class="container">
<div class="FAQ-content-single">
<div class="row">
<h1 align="center">Privacy Policy</h1>

<div class="col-md-12">
<div class="TnC-text">
<ul>
	<li>
	<p></p>

	<p><meta charset="utf-8" /></p>

	<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1c-4402-fbdb-a14035ca526a">SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</b></p>
	</li>
</ul>

<p></p>

<p><meta charset="utf-8" /></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1c-6f9b-7a9b-830c9c287a4e">When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</b><b id="docs-internal-guid-e341007f-4f1c-6f9b-7a9b-830c9c287a4e">When you browse our store, we also automatically receive your computer&rsquo;s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</b></p>
</div>
</div>
</div>
<!--end of row -->

<div class="row">
<div class="col-md-12">
<div class="TnC-text">
<ul>
	<li>
	<p><meta charset="utf-8" /><b id="docs-internal-guid-e341007f-4f1e-03ce-92f6-fba071b9e416">SECTION 2 - CONSENT</b></p>
	</li>
</ul>

<p></p>

<p><meta charset="utf-8" /></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1e-38c6-461f-02990aa34d0c">How do you get my consent?</b></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1e-38c6-461f-02990aa34d0c">&nbsp;If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</b></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1e-38c6-461f-02990aa34d0c">How do I withdraw my consent?</b></p>

<p dir="ltr"><b>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at apurvmishra53@gmail.com or mailing us at: ANTS 304/opal ria,rajhans dreams complex ,stella, vasai(west), Maharashtra , Mumbai, MH, 401202, India</b></p>
</div>
</div>
</div>
<!--end of row -->

<div class="row">
<div class="col-md-12">
<div class="TnC-text">
<ul>
	<li>
	<p><meta charset="utf-8" /><b id="docs-internal-guid-e341007f-4f1f-03f5-2222-2315e60fc1eb">SECTION 3 - DISCLOSURE</b></p>
	</li>
</ul>

<p><meta charset="utf-8" /><b id="docs-internal-guid-e341007f-4f1f-715b-2dce-580117e80f35">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</b></p>
</div>
</div>
</div>
<!--end of row -->

<div class="row">
<div class="col-md-12">
<div class="TnC-text">
<ul>
	<li>
	<p><meta charset="utf-8" /><b id="docs-internal-guid-e341007f-4f1f-b7d1-a38b-77267cb5687e">SECTION 4 - THIRD-PARTY SERVICES</b><font size="3"><strong> </strong></font></p>
	</li>
</ul>

<p></p>

<p><meta charset="utf-8" /></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1f-f209-0f1d-3fba5ae4e23e">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</b></p>

<p dir="ltr"><b>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</b></p>

<p dir="ltr"><b>In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</b></p>

<p dir="ltr"><b>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</b></p>

<p dir="ltr"><b>Once you leave our store&rsquo;s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website&rsquo;s Terms of Service.</b></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f1f-f209-0f1d-3fba5ae4e23e">&nbsp;Links</b></p>

<p dir="ltr"><b>When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</b></p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="TnC-text">
<ul>
	<li>
	<p></p>

	<p><meta charset="utf-8" /></p>

	<p dir="ltr"><b id="docs-internal-guid-e341007f-4f21-c1e6-02de-67de3a28a697">SECTION 5 - SECURITY</b></p>
	</li>
</ul>

<p><meta charset="utf-8" /><b id="docs-internal-guid-e341007f-4f22-5661-bef6-931ec1324563">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</b></p>

<p></p>

<ul>
	<li>
	<p dir="ltr"></p>

	<p dir="ltr"><meta charset="utf-8" /></p>

	<p dir="ltr"><b id="docs-internal-guid-e341007f-4f22-cc45-676a-1aeffc6e54dc">SECTION 6 - AGE OF CONSENT</b></p>
	</li>
</ul>

<p><meta charset="utf-8" /></p>

<p><meta charset="utf-8" /></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f22-f20e-1c80-e6dc151f3151">By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</b></p>

<p></p>

<ul>
	<li>
	<p dir="ltr"><meta charset="utf-8" /><b id="docs-internal-guid-e341007f-4f23-363e-ebdf-d113ddd270c2">SECTION 7 - CHANGES TO THIS PRIVACY POLICY</b></p>
	</li>
</ul>

<p><meta charset="utf-8" /></p>

<p><meta charset="utf-8" /></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f23-72b8-a655-71d37854105e">We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</b><meta charset="utf-8" /></p>

<p dir="ltr"></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f23-b8d8-ee0c-2b156128c8ce">QUESTIONS AND CONTACT INFORMATION</b></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f23-b8d8-ee0c-2b156128c8ce">If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at ANTS Inc.</b></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f23-b8d8-ee0c-2b156128c8ce">[Re: Privacy Compliance Officer]</b></p>

<p dir="ltr"><b id="docs-internal-guid-e341007f-4f23-b8d8-ee0c-2b156128c8ce">[opal ria,rajhans dreams complex ,stella, vasai(west), Maharashtra , Mumbai, MH, 401202, India]</b></p>
</div>
</div>
</div>
<!--end of row --></div>
</div>
</div>
</div>
</body>
</html>