<div id="process_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">


				<div class="modal-content">
					<div class="modal-header text-center">
						<h2>HOW DOES IT WORK?</h2>
					</div>
					<div class="modal-body">
						<div class="container-fluid text-center">
						  <p><em>3 Steps 2 Ride a bike!!!</em></p>
						  <br>
						  <div class="row">
						    <div class="col-md-4">
						    <img class="process-icon image-responsive" src="images/pen.png">
						      <h1>Give us your Details</h1>
						      <h6>Provide your details to find the best bike for you so that u can have the best.</h6>
						      </div>
						    
						    <div class="col-md-4">
						    <img class="process-icon image-responsive" src="images/reserve.png">
						      <h1>Reserve Your Ride</h1>
						      <h6>Book your bike in advance so that you can start exploring the place as u reach there.</h6>
						    </div>
						    <div class="col-md-4">
						    <img class="process-icon image-responsive" src="images/travel.png">
						      <h1>Enjoy your Ride</h1>
						      <h6>Your hapiness is our first priority. Simple steps to get your bike and enjoy your awesome journey.</h6>
						    </div>
						    </div>
						  </div>
						</div>						
					
					<div class="modal-footer">.
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					</div>
				</div>

			</div>