<header class="header index-two-header">

<div ng-include="'templates/menu.html'"></div>
      </header> <!-- end header -->
      <div class="rq-page-content">
        <div class="rq-content-block"> 
        <center>         
          <div class="rq-registration-content-single small-bottom-margin"> <!-- start of registration portion -->
            <div class="container">
              <div class="rq-login-form no-border">
                <h4>Enter New Password :</h4>
                <form class="form-inline" name="myPassword" ng-submit="resetPassword(password)" method="post" >
                  <div class="row">
                  <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <input type="password" class="rq-form-control reverse" name="password" placeholder="New Password" ng-model="password" required minlength="6">
                    </div>
                    <div class="col-md-4" style="color:red;">
                    <div class="alert alert-danger" ng-show="myPassword.password.$dirty && myPassword.password.$invalid">
                <span ng-show="myPassword.email.$error">Enter valid Email</span>
                </div>
                  </div>
                  <div class="col-md-12">
                    <div class="register-button">
                      <button type="submit" ng-disabled="myPassword.$invalid" class="rq-btn rq-btn-primary border-radius">Confirm Change Password<i class="arrow_right"></i></button>
                    </div>
                  </div>
                  
                  </div> <!-- end of registration section -->
                </form>
              </div>
            </div>
          </div><!--  end of registration form portin -->
          </center>
        </div>
      </div>