      <div class="rq-page-content">
        <div class="rq-content-block" id="cars">
          <div class="rq-title-container text-center">
            <h2 class="rq-title no-padding">Most Popular <strong>Vehicles.</strong></h2>
          </div>
          <div class="rq-secondary-slider">
            <div class="owl-loop owl-carousel">
              <div class="item">
                <div class="car-details-bg">
                  <span>Rs.1200/Day</span>
                  <div class="owl-title-area">
                    <h4><a href="#">Royal Enfield Bullet Standard.</a></h4>
                    <span class="rating">
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </div>
                </div>
                <img src="img/elecref.jpg" data-img-src="" alt="">
                <h5><a href="#">Royal Enfield Bullet Standard.</a></h5>
              </div>
              <div class="item">
                <div class="car-details-bg">
                  <span>Rs.3050/Day</span>
                  <div class="owl-title-area">
                    <h4><a href="#">Toyota Innova</a></h4>
                    <span class="rating">
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </div>
                </div>
                <img src="img/innoref.jpg" data-img-src="" alt="">
                <h5><a href="#">Toyota Innova</a></h5>
              </div>
              <div class="item">
                <div class="car-details-bg">
                  <span>Rs.3050/Day</span>
                  <div class="owl-title-area">
                    <h4><a href="#">Mahindra XUV500</a></h4>
                    <span class="rating">
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </div>
                </div>
                <img src="img/xuvref.jpg" data-img-src="" alt="">
                <h5><a href="#">Mahindra XUV500</a></h5>
              </div>
              <div class="item">
                <div class="car-details-bg">
                  <span>Rs.1520/Day</span>
                  <div class="owl-title-area">
                    <h4><a href="#">Honda CBR250</a></h4>
                    <span class="rating">
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </div>
                </div>
                <img src="img/cbrref.jpg" data-img-src="" alt="">
                <h5><a href="#">Honda CBR250</a></h5>
              </div>
              <div class="item">
                <div class="car-details-bg">
                  <span>Rs.1000/Day</span>
                  <div class="owl-title-area">
                    <h4><a href="#">Bajaj RS200</a></h4>
                    <span class="rating">
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </div>
                </div>
                <img src="img/rcref.jpg" data-img-src="" alt="">
                <h5><a href="#">Bajaj RS200</a></h5>
              </div>
            </div>
            <div class="browse-cars">
              <a href="#">Browse all cars</a>
            </div>

          </div>
        </div>
        <div class="rq-content-block gray-bg" id="services">
          <div class="rq-title-container text-center">
            <h2 class="rq-title no-padding">How it <strong>Work.</strong></h2>
          </div>
          <div class="rq-how-it-work-content">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <img src="img/icon1.png" alt="">
                    <h4>Select Time<br> Pick Up & Return</h4>
                    <p>Select location, time to pick up, return and Bikes, Cars type</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <img src="img/icon2.png" alt="">
                    <h4>find all<br>cars near you</h4>
                    <p>We will help you Search all Bikes and Cars near your area</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="how-it-work-single">
                    <img src="img/icon3.png" alt="">
                    <h4>pick a vehicle<br>and enjoy your trip</h4>
                    <p>Pick a vehicle that you want<br>and enjoy your trip</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- /.rq-content-block -->
        <div class="rq-testimonial-section">
          <div class="rq-testimonial-content">
            <h1 class="rq-title">What Client Say<span class="rq-dot">.</span></h1>
            <div class="owl-carousel testimonial-wrapper">
              <div class="item">
                <p class="testimoinal-text">
                Vehicles are well maintained.<br>
                It was a pleasure to deal with getsetwheels team.
                </p>
                <span class="author-name-title">
                  <img src="img/customer.png" alt="">
                  <a href="#">Saket Suman<i class="ion-ios-minus-empty"></i>
                    <span>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </a>
                </span>

              </div>
             
             <div class="item">
                <p class="testimoinal-text">
                Best Service and pick up available in prime locations like Thane ,Andheri etc.
                </p>
                <span class="author-name-title">
                  <img src="img/customer.png" alt="">
                  <a href="#">Sachin Nair<i class="ion-ios-minus-empty"></i>
                    <span>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                     
                    </span>
                  </a>
                </span>

              </div>
			  
			  
			  <div class="item">
                <p class="testimoinal-text">
                Provides good customer service when we contact them regarding our trip.
                </p>
                <span class="author-name-title">
                  <img src="img/customer.png" alt="">
                  <a href="#">Anush Jayan<i class="ion-ios-minus-empty"></i>
                    <span>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      
                    </span>
                  </a>
                </span>

              </div>
			  
			  <div class="item">
                <p class="testimoinal-text">
                Good memory to cherish in the road trip offered by GetSetWheels team!!!!
                </p>
                <span class="author-name-title">
                  <img src="img/customer.png" alt="">
                  <a href="#">Jobin Mathew<i class="ion-ios-minus-empty"></i>
                    <span>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </a>
                </span>

              </div>
             			  <div class="item">
                <p class="testimoinal-text">
               Excellent customer service.
                </p>
                <span class="author-name-title">
                  <img src="img/customer.png" alt="">
                  <a href="#">Jeffin<i class="ion-ios-minus-empty"></i>
                    <span>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      
                    </span>
                  </a>
                </span>

              </div>
             
              <div class="item">
                <p class="testimoinal-text">
               Best Service ,No charges for early pickup .
                </p>

                <span class="author-name-title">
                  <img src="img/customer.png" alt="">
                  <a href="#">Deeksha Verma  <i class="ion-ios-minus-empty"></i>
                    <span>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div> <!-- /.testimonial section -->
        <div class="rq-content-block with-bg-color">
          <div class="container">
            <div class="rq-download-app-section">
              <div class="row">
                <div class="col-md-6">
                  <div class="mobile-image-content">
                    <img src="img/mobile.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="app-text-section">
                    <h5 style="font-size:25px">Our App Is coming soon!!!! </h5>
                    <h1>Where You Can Get Following Benefits</h1>
                    <ul>
                      <li>Find nearby Vehicles in your network with GetSetWheels</li>
                      <li>Browse real hirers reviews to know why choose GetSetWheels</li>
                      <li>Rent a Vehicles
					  so easy with a tap !</li>
                    </ul>
                    <div class="app-download-btn">
                      <a href="https://itunes.apple.com/us/app/apple-store/id375380948?mt=8"><img src="img/ios-button.png" alt=""></a>
                      <a href="https://play.google.com/store?hl=en"><img src="img/android-button.png" alt=""></a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.rq-content-block -->
        <div class="rq-content-block gray-bg">
          <div class="newsletter-content">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h2>Our <strong>Newsletter.</strong></h2>
                </div>
                <div class="col-md-8">
                  <form class="rq-newsletter-form" action="#">
                    <input class="" type="email" placeholder="youremail@domain.com">
                    <button type="submit" class="rq-btn rq-btn-primary">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rq-call-to-action">
          <div class="container">
            <h2>Need help renting online? <span><a href="tel:+917261937108">(+91) 72619 37108</a></span></h2>
          </div>
        </div>
      </div> <!-- /.page-content -->
      
    </div> <!-- end #main-wrapper -->
      
  <script>
    
    var picker = new MaterialDatetimePicker({

    })
      .on('submit', function(d) {
        //$('#field').value = d;
        var date = new Date(d);
        var str = date.getFullYear()+'-'+("0" + (date.getMonth()+1)).slice(-2)+'-'+("0" + date.getDate()).slice(-2)+' '+("0" + date.getHours()).slice(-2)+':00';
        $('input[name=from1]').val(str);
        angular.element(jQuery('#car-from')).triggerHandler('input')
        //alert(d);
      });
      var picker1 = new MaterialDatetimePicker({

    })
      .on('submit', function(d) {
        //$('#field').value = d;
        var date = new Date(d);
        var str = date.getFullYear()+'-'+("0" + (date.getMonth()+1)).slice(-2)+'-'+("0" + date.getDate()).slice(-2)+' '+("0" + date.getHours()).slice(-2)+':00';
        $('input[name=to1]').val(str);
        angular.element(jQuery('#car-to')).triggerHandler('input')
        //alert(d);
      });
      var picker2 = new MaterialDatetimePicker({

    })
      .on('submit', function(d) {
        //$('#field').value = d;
        var date = new Date(d);
        var str = date.getFullYear()+'-'+("0" + (date.getMonth()+1)).slice(-2)+'-'+("0" + date.getDate()).slice(-2)+' '+("0" + date.getHours()).slice(-2)+':00';
        $('input[name=from]').val(str);
        angular.element(jQuery('#bike-from')).triggerHandler('input')
        //alert(d);
      });
      var picker3 = new MaterialDatetimePicker({

    })
      .on('submit', function(d) {
        //$('#field').value = d;
        var date = new Date(d);
        var str = date.getFullYear()+'-'+("0" + (date.getMonth()+1)).slice(-2)+'-'+("0" + date.getDate()).slice(-2)+' '+("0" + date.getHours()).slice(-2)+':00';
        $('input[name=to]').val(str);
        angular.element(jQuery('#bike-to')).triggerHandler('input')
        //alert(d);
      });
      //console.log(angular.element(document.querySelector('[ng-controller="ApplicationControler"]')).scope());
    var el = document.querySelector('#car-from');
    el.addEventListener('click', function() {
      picker.open();
    }, false);
    var el1 = document.querySelector('#car-to');
    el1.addEventListener('click', function() {
      picker1.open();
    }, false);
    var el2 = document.querySelector('#bike-from');
    el2.addEventListener('click', function() {
      picker2.open();
    }, false);
    var el3 = document.querySelector('#bike-to');
    el3.addEventListener('click', function() {
      picker3.open();
    }, false);

    

</script>
<script src="js/scripts.js"></script>