<header class="header index-two-header">
<script>
$(function() {
   $('body').scrollTop(0);
});
</script>
<div ng-include="'templates/menu.html'"></div>
      </header>
<div class="rq-page-content">
<!--<div class="inner-page-banner" style="background: url('img/inner-banner/seabass-creatives-56935.jpg') top center no-repeat; background-size: cover;">-->
          <div class="rq-overlay"></div>
          <div class="container">
            <!--<div class="rq-title-container bredcrumb-title">
              <h2 class="rq-title">Terms & Conditions</h2>
              <ol class="breadcrumb rq-subtitle">
                <li><a href="#">Home</a></li>
                <li class="active">About Us</li>
              </ol>
            </div>-->
          </div>
        </div> <!-- /. inner pagebanner -->
        <div class="rq-content-block">
          <div class="rq-TnC-content-wrapper">
            <div class="container">
              <div class="TnC-content-single">
                <div class="row">
                 <!-- <div class="col-md-4">
                    <h2 class="brand-title">OUR ROOTS<span class="dot">.</span></h2>
                  </div>-->
                  <h1 align="center">Terms & Conditions</h1>
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <p><font size="2"><strong>1. Users Policy</strong></font></p>
                      <p>
                      <ul>
                   <li> The Company will not be responsible in any manner whatsoever in case of any accidents suffered to the User.</li>
<li>The Company has provided the vehicle (two-wheeler/four-wheeler) and will not be responsible in any manner whatsoever if the vehicle is found to be used for any illegal purposes and the company reserves the right to take the user to Court in case of any illegality comes to its notice.</li>
<li>Company strongly advises all the user to follow all the traffic rules. All Challans issued due to rider negligence need to be paid in full to the penalizing authority.</li>
<li>The user should be of minimum 18 years of age.</li>
		      </ul>
                      </p>
                    </div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <p><font size="2"><strong>2. Rent Policy</strong></font></p>
                      <p>
                      <strong>Fee Policy</strong>
                      <ul>
                   <li> The two-wheeler/four-wheeler needs to be returned at the specified Date and Time as mentioned on the website/invoice copy. A delay of more than 45 minutes without intimating the customer care or Field executive will attract a penalty of standard daily charges.</li>
<li>A Trip extension request is to be made at least 1 hour before the drop-off time. Such requests are to be made to the Customer care or Field executive over the phone. The request will be confirmed or denied as per the availability of bikes. In case the customer doesn’t drop the bike despite a denied extension request, penalty charges of Rs.150 and the standard daily rent of the bike/cars will be applicable.
</li>
<li>A Trip extension request is to be made at least 1 hour before the drop-off time. Such requests are to be made to the Customer care or Field executive over the phone. The request will be confirmed or denied as per the availability of bikes. In case the customer doesn’t drop the bike despite a denied extension request, penalty charges of Rs.150 and the standard daily rent of the bike/cars will be applicable.
</li>
<li>In case of minor damages to the helmet, the customer is liable to pay Rs.100/helmet and in case of major damage or loss of the helmet, the customer is liable to pay a fine of Rs.300.
</li>
<li>In case of damage to the two-wheeler on rent due to accident/mishandling/carelessness, appropriate charges will be calculated by the vendor and the customer is liable to pay the same to the vendor along with the daily tariff until the bike is ready for renting again.
</li>
<li>In case of engine fault or failure, the customer needs to contact the vendor or Field Executive before getting any repairs done. The original printed invoice is mandatory to claim reimbursement for the same.</li>
		      </ul>
                      </p>
                      <p>
                      <strong>TRIP EXTENSION</strong>
                      <ul>
                      <li>Trip extension requests are to be made at least 2 hours before the drop off time. Such requests are to be made to customer care/ Field executive over 			
                          the phone. As per the booking schedule, they may confirm or deny the request depending on the bike availability.</li>
                      <li>Charges for Trip extension: The standard rates will be applicable for extensions.</li>
                      </ul>
                      </p>
                      <p>
                       <strong>BOOKING CANCELLATION</strong>
                      <ul>
                      <li>0-24 Hours before start of the trip – The entire amount paid by the customer will be charged as cancellation fee. There will be NO REFUND made for such cancellations.</li>
                      <li>More than 24 hours before start of the trip – 20% of the amount paid by the customer will be reduced as cancellation fee and the remaining 80% of the amount will be refunded. The refunded amount will reflect in the customer's bank account within 5-7 business days.</li>
<li>If any booking is cancelled by GETSETWHEELS for any reason, a full refund will be initiated.</li>
                      </ul>
                      </p>
                      <p>
                      <strong>VERIFICATION</strong>
                      <ul>
                      <li>The user must provide his driving as well as an address proof which can be any one of the following documents:
                      <ol>
<li>Passport</li>
<li>Aadhar Card (UID)</li>
<li>Election Card</li>
<li>Pan Card</li>
</ol>
</li>
                      <li>GETSETWHEELS will verify each document and reserves the right to deny a user to rent a vehicle if it finds its papers are not in place.
</li>
                      </ul>
                      </p>
                       <p>
                      <strong>VEHICLE POLICY</strong>
                      <ul>
                      <li>Two-wheeler bookings are subject to availability. GETSETWHEELS reserves the right to cancel any booking if deemed necessary.
</li>
                      <li>We provide one helmet per two-wheeler on rent as complimentary and they must be returned without any damages during the drop.
</li>
                      </ul>
                      </p>
                       <p>
                      <strong>FUEL POLICY</strong>
                      <ul>
                      <li>No charges are taken from customers towards fuel.
</li>
                      <li>Fuel will be provided to the customers to the reach the nearest petrol pump.
</li>
                    
                      </ul>
                      </p>
                    </div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <p><font size="2"><strong>3. Payment policy</strong></font></p>
                      <p>
                      <ul>
                   	<li>For booking a bike/car, User must complete payment through a secured payment gateway provided to the user.</li>
                   	<li>Only on successful payment a bike/car is booked for a user and the details regarding the same are sent to the user and vendor through SMS.
</li>
                   	<li>In case of cancellation from user, according to the cancellation policy refunds are made and the same are reflected in the user account within 5-7 working days.
</li>
                   	<li>Cancellation from GETSETWHEELS will lead to complete refund from website which will be reflected in 7-10 working days.
</li>
<li>In case of any payment related queries/ difficulties, Please contact us by calling on our number or dropping a mail to help@getsetwheels.com, your queries will be addressed in 48 working hours.</li>
		      </ul>
                      </p>
                    </div>
                  </div>
                </div> <div class="row">
                  <div class="col-md-12">
                    <div class="TnC-text">
                      <p><font size="2"><strong>4. Maintenance Policy</strong></font></p>
                      <p>
                      <ul>
                 	<li>All vehicles provided by the vendors are well maintained by the vendors.
</li>
                 	<li>Each vendor must ensure the state of each vehicle and must take complete responsibility of the vehicle provided by it.</li>
                 	<li>Also vendors ensure periodic maintenance of each vehicle in 15 days and after every trip.</li>
		      </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div> <!-- end of brand -->
            </div>
          </div>
        </div>
</div>